.footer__wrapper {
	position: relative;
	font-size: 16px;
	padding: 20px;
	/*background-color: var(--background-footer);*/
	background-color: var(--background-cta);
	width: 100%;
	text-align: center;
	color: black;
	line-height: 1.2;
	margin-top: 40px;
	@media (--screen-phablet) {
		padding: 0 10px;
	}
	& .footer__inner {
		width: 100%;
		max-width: 1366px;
		margin: auto;
		display: flex;
		align-content: space-between;
		justify-content: center;
		/*align-items: stretch;*/
		align-items: center;
		@media (--screen-phablet) {
			flex-wrap: wrap;
		}
		&.footer__inner--last {
			margin-top: 20px;
			border-top: 1px solid var(--background-dividers);
		}
	}
	& .footer__column {
		width: 33.33%;
		padding: 0 20px;
		border-right: 2px solid var(--background-dividers);
		@media (--screen-phablet) {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid var(--background-dividers);
			padding: 20px 0;
		}
		&:last-child {
			border-right: none;
			@media (--screen-phablet) {
				border-bottom: none;
			}
		}
	}
	& h5 {
		margin: 15px 0;
		font-size: 18px;
	}
	& p {
		/*margin: 10px 0;*/
	}
	& a {
		color: black;
	}
	& address {
		font-style: normal;
	}
	& .aurec-logo {
		width: 150px;
		height: 100px;
		& .fill-and-stroke {
			fill: #010101;
			stroke: #010101;
		}
		& .only-stroke {
			fill: none;
			stroke: #010101;
		}
	}
}
.bm-valenza-logo {
	max-width: 150px;
	margin: auto;
}