.footer__wrapper {
	position: relative;
	padding: 20px;
	background-color: var(--background-footer);
	width: 100%;
	text-align: center;
	color: black;
	line-height: 1.2;
	& .footer__inner {
		width: 100%;
		max-width: 1366px;
		margin: auto;
		display: flex;
		align-content: space-between;
		justify-content: center;
		align-items: stretch;
		@media (--screen-phablet) {
			flex-wrap: wrap;
		}
	}
	& .footer__column {
		width: 33.33%;
		padding: 0 20px;
		border-right: 2px solid var(--background-dividers);
		@media (--screen-phablet) {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid var(--background-dividers);
			padding: 20px 0;
		}
		&:last-child {
			border-right: none;
			@media (--screen-phablet) {
				border-bottom: none;
			}
		}
	}
	& h5 {
		margin: 15px 0;
	}
	& p {
		/*margin: 10px 0;*/
	}
	& a {
		color: black;
	}
	& address {
		font-style: normal;
		/*margin: 10px 0;*/
	}
}
.aurec-logo {
	width: 182px;
	height: 121px;
}
.bm-valenza-logo {
	max-width: 182px;
	margin: auto;
}