.footer__wrapper {
	position: relative;
	padding: 20px;
	background-color: var(--background-sand);
	width: 100%;
	text-align: center;
	color: black;
	& .footer__inner {
		width: 100%;
		max-width: 1366px;
		margin: auto;
		display: flex;
		align-content: space-between;
		justify-content: center;
		align-items: flex-start;
		@media (--screen-phablet) {
			flex-wrap: wrap;
		}
	}
	& .footer__column {
		width: 33.33%;
		border-right: 2px solid var(--background-dividers);
		&:last-child {
			border-right: none;
		}
	}
	& a {
		color: black;
	}
	& address {
		font-style: normal;
		margin: 1em 0;
	}
}
.aurec-logo {
	width: 200px;
	height: 135px;
}
.bm-valenza-logo {
	max-width: 200px;
	margin: auto;
}