.hero__wrapper {
	position: relative;
	min-height: 55vh;
	overflow: hidden;
}
.hero__image{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -60px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.wrapper {
	width: 100%;
	max-width: 1366px;
	margin: auto;
	padding: 30px 20px;
}
.wrapper-text {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	padding: 30px 20px;
}
.wrapper--chart {
	text-align: center;
	@media (--screen-phablet) {
		padding: 30px 0;
		margin: auto;
	}
	& .single-chart {
		display: inline-block;
		margin: 20px;
		& img {
			width: 100%!important;
			height: auto!important;
		}
	}
}
.title__wrapper {
	text-align: center;
}
.quotazioni-svg {
	width: 175px;
	height: 48px;
	margin-bottom: -15px;
}
.gold-title {
	color: var(--secondary-color);
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 0;
}
.subtitle {
	line-height: var(--medium-line-height);
	max-width: 80%;
	margin: 1em auto;
}

.gold-subtitle {
	line-height: var(--medium-line-height);
	color: var(--secondary-color);
	max-width: 80%;
	margin: 1em auto;
}
.anchors__wrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	@media (--screen-phablet) {
		flex-wrap: wrap;
	}
}
.anchor {
	width: 25%;
	text-align: center;
	color: var(--primary-color);
	padding: 20px;
	text-transform: uppercase;
	cursor: pointer;
	@media (--screen-phablet) {
		padding: 10px;
		width: 50%;
	}
	@media (--screen-mobile) {
		padding: 10px;
		width: 100%;
	}
	& svg {
		width: 70px;
		height: 70px;
		transform: translate3d(0,0,0);
		transition: transform .3s ease-in-out;
	}
	& .anchor__text {
		font-size: var(--default-font-size);
		width: 90%;
		margin: 20px auto;
		font-weight: bold;
		/*@media (--screen-phablet) {
			width: 95%;
		}*/
	}
	&:hover {
		& svg {
			transform: translate3d(0,-10px,0);
		}
	}
}
.cta__wrapper {
	position: relative;
	width: 95%;
	margin: 40px auto;
	border: 2px solid var(--background-cta);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		border: 5px solid var(--background-cta);
		z-index: -1;
	}
	@media (--screen-phablet) {
		flex-wrap: wrap;
	}
	& .cta__left {
		width: 65%;
		padding: 20px;
		@media (--screen-phablet) {
			width: 100%;
		}
	}
	& .cta__right {
		width: 35%;
		padding: 20px;
		@media (--screen-phablet) {
			width: 100%;
		}
	}
}
.cta {
	font-family: var(--font-text);
	font-size: var(--h6-font-size);
	line-height: var(--bigger-line-height);
	background-color: var(--background-cta);
	padding: 10px;
	color: white;
	max-width: 320px;
	margin: auto;
	display: block;
	text-transform: uppercase;
	letter-spacing: 5px;
	@media (--screen-phablet) {
		font-size: var(--h5-font-size-mobile);
		line-height: var(--h5-line-height-mobile);
	}
}
a[href^="mailto:"] {
	&.cta {
		text-decoration: none;
	}
}
.box__wrapper {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	/*align-items: center;*/
	@media (--screen-phablet) {
		flex-wrap: wrap;
	}
	& .img__wrapper {
		display: flex;
		align-items: center;
		position: relative;
		min-height: 70vh;
		overflow: hidden;
		width: 50%;
		@media (--screen-phablet) {
			min-height: 35vh;
			width: 100%;
			order: 1;
		}
	}
	& .box__img {
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		bottom: -20px;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    tranform: translateZ(0);
		backface-visibility: hidden;
		perspective: 1000;
	}
	& .text__wrapper {
		display: flex;
		align-items: center;
		width: 50%;
		@media (--screen-phablet) {
			width: 100%;
			order: 2;
		}
	}
	/*& .text__wrapper--huge {
		width: 50%;
		@media (--screen-phablet) {
			width: 100%;
			order: 1;
		}
	}*/
	& .text__inner {
		width: 80%;
		max-width: 550px;
		padding: 20px;
		margin: auto;
		text-align: center;
		@media (--screen-phablet) {
			width: 100%;
			padding: 40px 20px;
		}
		& svg {
			width: 35px;
			height: 35px;
		}
		& h5 {
			margin-top: 15px;
		}
		&.text__inner--big {
			& svg {
				width: 100px;
				height: 100px;
			}
		}
	}
	& .text__inner--huge {
		width: 80%;
		max-width: 550px;
		padding: 20px;
		/*font-size: 5vw;*/
		font-size: 85px;
		line-height: 1;
		color: rgba(255,255,255,.5);
		position: relative;
		z-index: 1;
		/*margin: auto;*/
		/*text-align: center;*/
		@media (--screen-medium) {
			font-size: 60px;
		}
		@media (--screen-phablet) {
			font-size: 40px;
			width: 100%;
			padding: 40px 20px;
			& br {
				display: none;
			}
		}
	}
}
.title-2 {
	letter-spacing: 2px;
}
.trading-desc {
	text-align: center;
	margin: 0;
	padding: 10px 0 20px;
}

/*.bullionvaultchart {
	height: 500px;
	width: 100%;
	@media (--screen-phablet) {
		height: 400px;
	}
}*/

.logo-top-page {
	width: 320px;
	margin: 90px auto 40px;
	& .fill-and-stroke {
		fill: #9B7438;
		stroke: #9B7438;
	}
	& .only-stroke {
		fill: none;
		stroke: #9B7438;
	}
	@media (--screen-phablet) {
		margin: 70px auto 20px;
		width: 250px;
	}
	@media (--screen-mobile) {
		width: 180px;
	}
}