.hero__wrapper {
	position: relative;
	min-height: 50vh;
	overflow: hidden;
	@media (--screen-phablet) {
		min-height: 40vh;
	}
}
.hero__image{
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	bottom: -20px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    tranform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
}
.wrapper {
	width: 100%;
	max-width: 1366px;
	margin: auto;
	padding: 30px 20px;
}
.wrapper--chart {
	@media (--screen-phablet) {
		padding: 30px 0;
		margin: auto;
	}
}
.title__wrapper {
	text-align: center;
}
.quotazioni-svg {
	width: 175px;
	height: 48px;
}
.gold-title {
	color: var(--secondary-color);
	text-transform: uppercase;
	letter-spacing: 5px;
}
.subtitle {
	line-height: var(--medium-line-height);
	max-width: 80%;
	margin: 1em auto;
}

.gold-subtitle {
	line-height: var(--medium-line-height);
	color: var(--secondary-color);
	max-width: 80%;
	margin: 1em auto;
}
.anchors__wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	@media (--screen-phablet) {
		flex-wrap: wrap;
	}
}
.anchor {
	width: 25%;
	text-align: center;
	color: var(--primary-color);
	padding: 20px;
	text-transform: uppercase;
	cursor: pointer;
	@media (--screen-phablet) {
		padding: 10px;
		width: 50%;
	}
	& svg {
		width: 70px;
		height: 70px;
		transform: translate3d(0,0,0);
		transition: transform .3s ease-in-out;
	}
	& .anchor__text {
		font-size: var(--default-font-size);
		width: 90%;
		margin: 20px auto;
		font-weight: bold;
		/*@media (--screen-phablet) {
			width: 95%;
		}*/
	}
	&:hover {
		& svg {
			transform: translate3d(0,-10px,0);
		}
	}
}
.cta__wrapper {
	position: relative;
	width: 95%;
	margin: 40px auto;
	border: 2px solid var(--background-cta);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		border: 5px solid var(--background-cta);
		z-index: -1;
	}
	@media (--screen-phablet) {
		flex-wrap: wrap;
	}
	& .cta__left {
		width: 65%;
		padding: 20px;
		@media (--screen-phablet) {
			width: 100%;
		}
	}
	& .cta__right {
		width: 35%;
		padding: 20px;
		@media (--screen-phablet) {
			width: 100%;
		}
	}
}
.cta {
	font-family: var(--font-text);
	font-size: var(--h6-font-size);
	line-height: var(--bigger-line-height);
	background-color: var(--background-cta);
	padding: 10px;
	color: white;
	max-width: 320px;
	margin: auto;
	display: block;
	text-transform: uppercase;
	letter-spacing: 5px;
	@media (--screen-phablet) {
		font-size: var(--h5-font-size-mobile);
		line-height: var(--h5-line-height-mobile);
	}
}
a[href^="mailto:"] {
	&.cta {
		text-decoration: none;
	}
}
.box__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	@media (--screen-phablet) {
		flex-wrap: wrap;
	}
	& .img__wrapper {
		position: relative;
		min-height: 70vh;
		overflow: hidden;
		width: 50%;
		@media (--screen-phablet) {
			min-height: 35vh;
			width: 100%;
			order: 1;
		}
	}
	& .box__img {
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		bottom: -20px;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    tranform: translateZ(0);
		backface-visibility: hidden;
		perspective: 1000;
	}
	& .text__wrapper {
		width: 50%;
		@media (--screen-phablet) {
			width: 100%;
			order: 2;
		}
	}
	& .text__wrapper--huge {
		width: 50%;
		@media (--screen-phablet) {
			width: 100%;
			order: 1;
		}
	}
	& .text__inner {
		width: 80%;
		max-width: 550px;
		padding: 20px;
		margin: auto;
		text-align: center;
		@media (--screen-phablet) {
			width: 100%;
			padding: 40px 20px;
		}
		& svg {
			width: 70px;
			height: 70px;
		}
		& h5 {
			margin-top: 15px;
		}
	}
	& .text__inner--huge {
		width: 80%;
		max-width: 550px;
		padding: 20px;
		font-size: 5vw;
		color: rgba(255,255,255,.5);
		/*margin: auto;*/
		/*text-align: center;*/
		@media (--screen-medium) {
			font-size: 60px;
		}
		@media (--screen-phablet) {
			font-size: 40px;
			width: 100%;
			padding: 40px 20px;
		}
	}
}
.title-2 {
	letter-spacing: 2px;
}
.trading-desc {
	text-align: center;
	/*border: 1px solid #dde1e6;*/
	border: 2px solid #f4f4f4;
	border-bottom: none;
	margin: 0;
	padding: 10px 0;
	/*@media (--screen-phablet) {
		width: 320px;
	}*/
}

.bullionvaultchart {
	height: 500px;
	width: 100%;
	@media (--screen-phablet) {
		height: 400px;
		/*width: 320px;*/
	}
}

.logo-top-page {
	width: 320px;
	height: 210px;
	margin: 40px auto;
	@media (--screen-phablet) {
		width: 180px;
		height: 130px;
	}
}