.header {
	& .navigation {
		float: right;
		box-sizing: border-box;
		height: 100%;
		display: flex;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 1s ease;
		transition-delay: 1s;
	}
}